<h2 mat-dialog-title class="dialog-title">The Cheapest Flight Price from Each Website</h2>

<div *ngIf="cache">
<h4 mat-dialog-title class="dialog-title">The Data retrieved is from cache.Do you want to enable web crawl with same data? if yes enable webcrawl checkbox and resubmit form</h4>

</div>
<mat-table [dataSource]="dataSource" class="mat-table">
  <ng-container matColumnDef="website">
    <mat-header-cell *matHeaderCellDef class="table-header">Website</mat-header-cell>
    <mat-cell *matCellDef="let element" class="table-cell">{{ element.website }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="price">
    <mat-header-cell *matHeaderCellDef class="table-header">Price</mat-header-cell>
    <mat-cell *matCellDef="let element" class="table-cell">{{ element.price }}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<button mat-raised-button color="warn" class="close-button" (click)="onNoClick()">Close</button>
