
    <div class="container">
        <h1>Please enter details of flight</h1>
        <form  #form="ngForm">
            <div class="input-field">
                <label for="from">From</label>
                <input type="text" id="from" name="from"  [(ngModel)]="flightDetailsEntered.source" required>
                <button (click)="wordcheck()">spell check</button>
            </div>
            <div class="input-field">
              <label for="destination">Destination</label>
              <input type="text" id="destination" name="destination" [(ngModel)]="flightDetailsEntered.destination" required>
          </div>
          <div class="input-field">
            <label for="noofpersons">No of persons</label>
            <input type="number" id="noofpersons" name="noofpersons" [(ngModel)]="flightDetailsEntered.noofpersons" required>
        </div>
            <div class="input-field">
                <label for="date">Date</label>
                <input type="date" id="date" name="date" [(ngModel)]="flightDetailsEntered.date" required>
            </div>
            <div class="input-field">
              <label for="type">Economy or Premium economy</label>
              <input type="text" id="type" name="classtype" [(ngModel)]="flightDetailsEntered.classtype" required>
          </div>
         
          <div class="submit-btn">
                <input type="submit" (click)="onSubmit(form);" value="Submit Form">
            </div>
        </form>
    </div>
